.card-bg-secondary {
  border-radius: 12px;
  .full-quote-text {
    color: black;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

ion-card-title {
  font-size: 18px !important;
}

ion-content {
  background-image: url('./../../assets/images/bg.jpg');
  background-size: cover;
}
